﻿@{
    ViewBag.Title = "Успешная регистрация.";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Благодарим за подтверждение электронной почты.
    </p>
    <p>@Html.ActionLink("На главную", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
    <p>@Html.ActionLink("Вход", "", "", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>