﻿@model NhpCore.Models.FillOrganisationDetailsModel

@{
    ViewBag.Title = "Информация о регистрируемой компании";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}
<div class="container">
    @Html.BeginForm("FillOrganisationDetails", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" })
    {
    @Html.AntiForgeryToken()

    <h2 class="form-signin-heading">Введите информацию о регистрируемой организации.</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.UserId)
    @Html.LabelFor(m => m.ShortName, new { @class = "sr-only" })
    @Html.TextBoxFor(m => m.ShortName, new { @class = "form-control" })
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Регистрация" />

    }
</div>