﻿@{
    ViewBag.Title = "Ошибка";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Пароль не может быть восстановлен, т.к. пользователь с таким Email не найден, или его учетная запись не подтверждена.
    </p>
</div>

