﻿@using NhpCore.Common;
@model NhpCore.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_LayoutClear.cshtml";
}

<h2>@ViewBag.Title.</h2>

<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h2 class="form-signin-heading">Создайте новую учетную запись.</h2>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        @*@Html.RadioButtonFor(m => m.RegistrationType, NhpConstants.Controllers.Account.OrganisationRegType)
            @Html.LabelFor(m => m.RegistrationType, "Компания")
            @Html.RadioButtonFor(m => m.RegistrationType, NhpConstants.Controllers.Account.UserRegType)
            @Html.LabelFor(m => m.RegistrationType, "Пользователь")*@
        @Html.HiddenFor(m => m.RegistrationType, new { Value = NhpConstants.Controllers.Account.UserRegType })
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.LabelFor(m=>m.DisplayName)
        @Html.TextBoxFor(m=>m.DisplayName, new { @class = "form-control" })
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.HiddenFor(m => m.InviteCode)
        <br />
        
        <p>Используя сервис НХП Софт,вы соглашаетесь с условиями &#34;<a href="http://nhp-soft.ru/rates/ofer.pdf" target="_blank">договора-оферты</a>&#34; и даете свое согласие на обработку моих &#34;<a href="http://nhp-soft.ru/rates/policy-personal.pdf" target="_blank">персональных данных</a>&#34;</p>
        
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Регистрация" />
    }
</div>
<hr />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}