﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/images/favicon.ico"" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/css")

    <link rel="stylesheet" type="text/css" href="~/Content/styles/index.css" />
</head>
<body>

    <nav class="navbar navbar-inverse" style="border-radius:0px; margin-bottom:0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("НХП Онлайн", "index", "home", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Главная", "index", "home")</li>
                <li>@Html.ActionLink("Личный кабинет", "index", "dashboard")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Выйти", "signout", "account")</li>
                }
                else
                {
                    @*<li>@Html.ActionLink("Логин", "Login", "Account")</li>*@
                    <li>@Html.ActionLink("Регистрация", "register", "account")</li>
                }
            </ul>
        </div>
    </nav>
    @* Header *@
    @*

            @{ Html.RenderAction("Header", "Home"); }
        @{ Html.RenderAction("NavigationMenu", "Home");}

    *@


    @* RenderBody*@
    @*{ Html.RenderPartial("Footer", "Home");}*@



    @*
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-right header-content">
                        <span><img src="#" alt="ico question" />Помощь</span>
                        <span><img src="#" alt="ico user" /><a href="#">Владимир</a></span>
                        <span><a href="#">Выход</a></span>
                    </div>

                    <!--Main nav tabs start-->
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active tab-control"><a href="#mycompany" data-toggle="tab">Моя компания</a></li>
                            <li class="tab-control"><a href="#profile" data-toggle="tab">Профиль</a></li>
                            <li class="tab-control"><a href="#third" data-toggle="tab">3-я вкладка</a></li>
                            <li class="tab-control"><a href="#four" data-toggle="tab">4-я вкладка</a></li>
                        </ul>
                    </div>
                    <!--Main nav tabs end-->
                </div>
            </div>
        </header>
        <section class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content col-md-12" id="myTabContent">
                            <!--section tab my company start-->
                            <div class="tab-pane fade active in" id="mycompany">
                                <!--Tab nav start-->
                                <div class="col-md-12 tab-content-nav">
                                    <span><a href="#" id="section-subscriptions">Подписки (оплата)</a></span>
                                    <span><a href="#" id="section-employees">Сотрудники (приглашения)</a></span>
                                </div>
                                <hr class="tab-component-separator col-md-12" />
                                <!--Tab nav end-->
                                <!--section employees start-->
                                <div class="col-md-12 section-employees">
                                    <div class="col-md-6">
                                        <h3>Выберите компанию</h3>
                                        <div class="col-md-8 section-company" onclick="eventHandler('Личный аккаунт')">
                                            <span class="text-left">Личный аккаунт</span>
                                        </div>
                                        <div class="col-md-8 section-company" onclick="eventHandler('ООО НефтеХимПрограм')">
                                            <span class="text-left">ООО "НефтеХимПрограм"</span>
                                        </div>
                                        <div class="col-md-8 section-company" onclick="eventHandler('ИП Иванов Петр Васильевич')">
                                            <span class="text-left">ИП Иванов Петр Васильевич</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>Список приглашенных колег</h3>
                                        <table class="col-md-12 table table-responsive">
                                            <thead>
                                                <tr class="table-copmonent-row">
                                                    <th>Дата</th>
                                                    <th>ФИО</th>
                                                    <th>Статус</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-copmonent-row">
                                                    <td>18.05.2017</td>
                                                    <td>string@nhp-soft.ru (профиль не заполнен)</td>
                                                    <td>Приглашен</td>
                                                    <td><a href="#"><img src="#" alt="ico delete button" /></a></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td>18.05.2017</td>
                                                    <td>string@nhp-soft.ru (профиль не заполнен)</td>
                                                    <td>Приглашен</td>
                                                    <td><a href="#"><img src="#" alt="ico delete button" /></a></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td>18.05.2017</td>
                                                    <td>string@nhp-soft.ru (профиль не заполнен)</td>
                                                    <td>Приглашен</td>
                                                    <td><a href="#"><img src="#" alt="ico delete button" /></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h3>Список Email адресов (по одному в строке)</h3>
                                        <div class="col-md-12">
                                            <textarea class="col-md-12"></textarea>
                                            <input type="button" value="Пригласить" />
                                        </div>
                                    </div>
                                </div>
                                <!--section employees end-->
                                <!--section subscriptions start-->
                                <div class="col-md-12 section-subscriptions">
                                    <div class="col-md-6">
                                        <h3>Выберите счет компании</h3>
                                        <div class="col-md-8 section-company" onclick="eventHandler('Личный аккаунт')">
                                            <span class="text-left">Личный аккаунт</span>
                                        </div>
                                        <div class="col-md-8 section-company" onclick="eventHandler('ООО НефтеХимПрограм')">
                                            <span class="text-left">ООО "НефтеХимПрограм"</span>
                                        </div>
                                        <div class="col-md-8 section-company" onclick="eventHandler('ИП Иванов Петр Васильевич')">
                                            <span class="text-left">ИП Иванов Петр Васильевич</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 section-subscriptions-top-info">
                                        <span>На счету 0 р</span>
                                        <span><a href="#">История операций</a></span>
                                        <span><a href="#">Пополнить счет</a></span>
                                        <span><a href="#">Подробнее о подписках</a></span>
                                        <div class="col-md-12">
                                            <span>Подписка</span>
                                            <select>
                                                <option>НХП Проект (базовый)</option>
                                                <option>НХП Проект (стандарт)</option>
                                            </select>
                                            <span>на</span>
                                            <select>
                                                <option>2 года</option>
                                                <option>10 лет</option>
                                            </select>
                                        </div>
                                        <table class="col-md-12 table table-responsive">
                                            <thead>
                                                <tr class="table-copmonent-row">
                                                    <th>Окончание подписки</th>
                                                    <th>ФИО</th>
                                                    <th><input type="checkbox" /> Всех</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-copmonent-row">
                                                    <td>18.05.2018</td>
                                                    <td>Иванов П.Г.</td>
                                                    <td><input type="checkbox" /><span></span></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td>18.05.2018</td>
                                                    <td>Иванов П.Г.</td>
                                                    <td><input type="checkbox" /><span></span></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td></td>
                                                    <td>Кучеров П.Г.</td>
                                                    <td><input type="checkbox" /><span>500</span></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td></td>
                                                    <td>Голубев П.Г.</td>
                                                    <td><input type="checkbox" /><span>700</span></td>
                                                </tr>
                                                <tr class="table-copmonent-row">
                                                    <td><input type="checkbox" /><span>Использовать средства на счету</span></td>
                                                    <td><input type="button" value="Оплатить" /></td>
                                                    <td>Итого <span>3500</span> руб.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--section subscriptions end-->
                            </div>
                            <!--section tab my company end-->
                            <!--Other tabs start-->
                            <div class="tab-pane fade" id="profile">
                                <p>Food truck fixie locavore, accusamus mcsweeney’s marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                            </div>
                            <div class="tab-pane fade" id="third">
                                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney’s organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven’t heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                            </div>
                            <div class="tab-pane fade" id="four">
                                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                            </div>
                            <!--Other tabs end-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    *@




    @RenderBody()

    <script src="~/Scripts/jquery-3.1.1.min.js" type="text/javascript"></script>
    @*<script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
    <script>
        $(document).ready(function () {
            $('nav li.active').removeClass('active');
            $('a[href="' + location.pathname + '"]').closest('nav li').addClass('active');
        });  
    </script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>