﻿<p>Test custom View Templates</p>

<div class="page-header">
    <h1>Error</h1>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="alert alert-danger">
            <div ng-show="model.errorMessage">{{model.errorMessage}}</div>
        </div>
        <div class="request-id">Request Id: <span ng-bind="model.requestId"></span></div>
    </div>
</div>
