﻿
@{
    ViewBag.Title = "Личный кабинет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
        <!--Top section notification liscense start-->


    @if (Request.RequestContext.HttpContext.User.IsInRole("Admin"))
    {*@
<article>
    <div class="container" style="display:none;">
        <div class="row">
            <div class="col-md-12 top-notification">
                <span>Вы пользуетесь бесплатной версией сервиса</span>
                <input type="button" value="Продлить подписку" />
            </div>
        </div>
    </div>
</article>
<header>
    <div class="container" id="app">
        <div class="row">
            <div class="col-md-12 text-right header-content">
                <span><span class="glyphicon glyphicon-question-sign" /><a href="http://nhp-soft.ru/help/go/">Справка</a></span>
                <span><span class="glyphicon glyphicon-user" />{{generalUserInfo.email}} ({{generalUserInfo.displayName}})</span>
            </div>

            <!--Main nav tabs start-->
            <div class="col-md-12">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active tab-control"><a href="#mycompany" data-toggle="tab">Моя компания</a></li>
                    <li class="tab-control"><a href="#program-links" data-toggle="tab">Программы для Windows</a></li>
                    @*<li class="tab-control"><a href="#third" data-toggle="tab">3-я вкладка</a></li>
                        <li class="tab-control"><a href="#four" data-toggle="tab">4-я вкладка</a></li>*@
                </ul>
            </div>
            <!--Main nav tabs end-->
        </div>
    </div>
</header>
<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab-content col-md-12" id="myTabContent">
                    <!--section tab my company start-->
                    <div class="tab-pane fade active in" id="mycompany">
                        <!--Tab nav start-->
                        <div class="col-md-12 tab-content-nav">
                            <span d><a href="#" id="section-subscriptions">Лицензии</a></span>
                            <span><a href="#" id="section-employees">Сотрудники (приглашения)</a></span>
                            <span><a href="#" id="section-organisationManagement">Управление организациями</a></span>
                            <span><a href="#" id="section-personalData">Личные данные (профили)</a></span>
                        </div>
                        <hr class="tab-component-separator col-md-12" />
                        <!--Tab nav end-->
                        <!--section employees start-->
                        <div class="col-md-12 section-employees" style="display:none;" id="inviteTab" v-cloak>

                            @*VUE AVAILABLE ORGANISATIONS*@
                            <div class="col-md-6">
                                <h3>Выберите организацию</h3>
                                <div v-if="orgLoading" class="load-animation">Loading...</div>
                                <div class="col-md-8 section-company" v-for="org in organisations" v-else>
                                    <div v-on:click="selectOrganisation(org)">
                                        <span class="text-left" v-bind:data-id="org.id">{{org.name}}</span>
                                        <span class="text-right glyphicon glyphicon-ok" v-show="selectedOrganisation.id===org.id"></span>
                                    </div>
                                </div>
                            </div>
                            @*VUE AVAILABLE ORGANISATIONS*@

                            @*VUE INVITES*@
                            <div class="col-md-6 " v-cloak>
                                <h3>Список приглашенных колег</h3>
                                <table class="col-md-12 table table-responsive">
                                    <thead>
                                        <tr class="table-component-row">
                                            <th>Дата</th>
                                            <th>ФИО</th>
                                            <th>Статус</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="load-animation" v-if="userLoading"></tr>
                                        <tr class="table-component-row" v-for="user in users">
                                            <td>{{user.inviteDate}}</td> @* 18.04.2017*@
                                            <td>{{user.displayName}}</td>@*string@nhp-soft.ru (профиль не заполнен)*@
                                            <td v-if="user.isDeleting"><div class="load-animation"></div></td>
                                            <td v-else>{{user.status==true?"Зарегистрирован":"Приглашен"}}</td>@*Приглашен*@
                                            @*<td><a href="#"><img src="#" alt="ico delete button" v-on:click="remove(user)" /></a></td>*@
                                            <td><span class="glyphicon glyphicon-remove" v-on:click="remove(user)" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h3>Список Email адресов (по одному в строке)</h3>
                                <div class="col-md-12 load-animation" v-if="isInviting">

                                </div>
                                <div class="col-md-12" v-else>
                                    <textarea class="col-md-12" v-model="emails" placeholder="Впишите здесь почтовые адреса" v-on:keyup="validateEmails"></textarea>
                                    <input type="button" value="Пригласить" v-on:click="invite" />
                                </div>
                            </div>
                            @*VUE INVITES*@


                            <!--section employees end-->
                        </div>
                        <!--section subscriptions start-->
                        <div class="col-md-12 section-subscriptions" id="subscriptionTab">
                            @*VUE AVAILABLE ORGANISATIONS*@
                            <div class="col-md-6" v-cloak>
                                <h3>Выберите счет компании</h3>
                                <div v-if="orgLoading" class="load-animation">Loading...</div>
                                <div class="col-md-8 section-company" v-for="org in organisations" v-else>
                                    <div v-on:click="selectOrganisation(org)">
                                        <span class="text-left" v-bind:data-id="org.id" v-bind:data-balanceValue="org.balanceValue">{{org.name}}</span>
                                        <span class="text-right glyphicon glyphicon-ok" v-show="selectedOrganisation.id===org.id"></span>
                                    </div>
                                </div>
                            </div>
                            @*VUE AVAILABLE ORGANISATIONS*@

                            @*VUE SUBSCRIPTIONS*@
                            <div class="col-md-6 section-subscriptions-top-info vueSubscrWrapper" v-cloak>
                                <span>На счету {{balance}} р</span>
                                <span><a href="#">История операций</a></span>
                                <span><a href="#">Пополнить счет</a></span>
                                <span><a href="#">Подробнее о подписках</a></span>
                                <div class="col-md-12">
                                    <span>Подписка</span>
                                    <div v-if="subscrLoading" class="load-animation">Loading...</div>
                                    <select v-model="selectedSubscription" v-on:change="onSubscriptionChanged" v-else>
                                        <option disabled value="">Выберите подписку</option>
                                        <option v-for="(value, key) in subscriptions" v-bind:data-price="value.price" v-bind:value="value">{{value.name}}</option>
                                    </select>
                                    <span>на</span>
                                    <select v-model="selectedSubscriptionPeriod">
                                        <option disabled value="">Выберите период</option>
                                        <option v-for="(value, key) in subscriptionPeriods" v-bind:data-duration="value.duration" v-bind:value="value">{{value.title}}</option>
                                    </select>
                                </div>
                                <table class="col-md-12 table table-responsive">
                                    <thead>
                                        <tr class="table-component-row">
                                            <th>Окончание подписки</th>
                                            <th>ФИО</th>
                                            <th><input type="checkbox" v-on:click="selectAll" v-model="isAllSelected" /> Всех</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="load-animation" v-if="subscrUsersLoading"></tr>
                                        <tr class="table-component-row" v-for="user in users">
                                            <td>{{user.expirationDate}}</td>@*18.05.2018*@
                                            <td>{{user.name}}</td>@*Иванов П.Г.*@
                                            <td><input type="checkbox" v-model="user.isSelected" /><span>{{user.isSelected==true?subscrRetailPrice:""}}</span></td>
                                        </tr>
                                        <tr class="table-component-row">
                                            <td><input type="checkbox" v-model="useOrgBalance" style="visibility:collapse;" /><span style="visibility:collapse;">Использовать средства на счету</span></td>
                                            <td><input type="button" value="Оплатить" v-on:click="pay" /></td>
                                            <td>Итого <span>{{sumValue}}</span> руб.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            @*VUE SUBSCRIPTIONS*@
                        </div>
                        <!--section subscriptions end-->
                        <!--section organisationManagement start-->
                        <div class="col-md-12 section-organisationManagement" id="organisationManagementTab">
                            @*VUE AVAILABLE ORGANISATIONS*@
                            <div class="col-md-4">
                                <h3>Выберите организацию</h3>
                                <a href="#" v-on:click="showCreateNewOrganisation">Добавить</a>
                                <div v-if="isCreating">

                                    <span v-on:click="cancelIsCreating">отмена</span>
                                    <input type="text" class="form-control" placeholder="название" v-model="newOrganisation.name" />
                                    <span class="glyphicon glyphicon-ok" v-on:click="createNewOrganisation(newOrganisation)" style="font-size:180%;">сохранить</span>
                                    <div class="load-animation" v-show="isCreatingProgress"></div>
                                </div>
                                <div v-if="orgLoading" class="load-animation">Loading...</div>
                                <div class="col-md-8 section-company" v-for="org in organisations" v-else>
                                    <div v-on:click="selectOrganisation(org)">
                                        <span class="text-left" v-bind:data-id="org.id">{{org.name}}</span>
                                        <span class="text-right glyphicon glyphicon-ok" v-show="selectedOrganisation.id===org.id"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div v-if="isYandexStorageConnected">
                                    <p>Этой компании уже подключено яндекс хранилище</p>
                                </div>
                                <div v-else>
                                    <a v-bind:href="yandexStorageLink" target="_blank">Подключить яндекс диск</a>
                                </div>
                            </div>
                            @*VUE AVAILABLE ORGANISATIONS*@

                            @*<div class="col-md-6" v-cloak>
                                    <div class="row row-bordered">
                                        <span>{{selectedOrganisation.name}}</span>
                                    </div>
                                    <div v-for="mode in modes">
                                        <div v-on:click="selectMode(mode)">{{mode.title}}</div>
                                    </div>
                                    <div>
                                        <label>{{selectedEntry.displayName}}</label>
                                        <label>{{selectedEntry.firstName}}</label>
                                        <label>{{selectedEntry.secondName}}</label>
                                    </div>
                                </div>*@
                        </div>
                        <!--section organisationManagement end-->
                        <!--section userProfile start-->
                        <div class="col-md-12 section-personalData" style="display:none;" id="personalDataTab">
                            
                            @*<div>
                                <pre>{{ $data }}</pre>
                            </div>*@
                            
                            @*VUE AVAILABLE PROFILES*@
                            <div class="col-md-6">
                                <div class="profileBlock__element">
                                    <h3>Список профилей</h3>
                                    <div v-if="isGeneralLoading" class="load-animation">Loading...</div>
                                    <div class="col-md-12 toolbar" v-else>
                                        <button class="btn btn-primary" v-on:click="createProfile">Добавить</button>
                                        <button class="btn btn-warning disabled" v-on:click="editProfile" v-show="selectedUserOrganisationProfile!=null">Редактировать</button>
                                        <button class="btn btn-danger disabled" v-on:click="deleteProfile" v-show="selectedUserOrganisationProfile!=null">Удалить</button>
                                    </div>
                                    <div class="col-md-12 profileList" v-for="prof in profiles">
                                        <div class="profileList__element" v-on:click="selectProfile(prof)">
                                            <span class="text-left">{{prof.DisplayName}} ({{prof.SNP}})</span>
                                            <span class="text-right glyphicon glyphicon-ok" v-show="selectedUserOrganisationProfile.Id===prof.Id && !isEditMode"></span>
                                            <span class="text-right glyphicon glyphicon-pencil" v-show="selectedUserOrganisationProfile.Id===prof.Id && isEditMode"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="profileBlock__element">
                                    <h3>Список привязанных компаний</h3>
                                    <div v-if="isGeneralLoading" class="load-animation">Loading...</div>
                                    <div class="col-md-12 profileList" v-for="org in organisations">
                                        <div class="orgList__element">
                                            <div class="col-md-8">
                                                <span class="text-left">{{org.name}}</span>
                                            </div>
                                            <div class="col-md-4">
                                                <select v-model="org.profile" v-on:change="changeOrgProfile(org)">
                                                    <option v-for="prof in profiles" v-bind:value="prof.Id">{{prof.DisplayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 profileCard" v-show="isCreateMode || isEditMode">
                                <table class="table table-bordered table-hover">
                                    <tr class="active">
                                        <td colspan="2">Общая информация</td>
                                    </tr>
                                    <tr>
                                        <td>Фамилия</td>
                                        <td><input v-model="selectedUserOrganisationProfile.SecondName"></td>
                                    </tr>
                                    <tr>
                                        <td>Имя</td>
                                        <td><input v-model="selectedUserOrganisationProfile.FirstName"></td>
                                    </tr>
                                    <tr>
                                        <td>Отчество</td>
                                        <td><input v-model="selectedUserOrganisationProfile.PatronymicName"></td>
                                    </tr>
                                    <tr>
                                        <td>Отображаемое имя</td>
                                        <td><input v-model="selectedUserOrganisationProfile.DisplayName"></td>
                                    </tr>
                                    <tr>
                                        <td>Год рождения</td>
                                        <td><input type="date" v-model="selectedUserOrganisationProfile.BirthDate" v-bind:value="selectedUserOrganisationProfile.BirthDate"></td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2">Паспортные данные</td>
                                    </tr>
                                    <tr>
                                        <td>Город</td>
                                        <td><input v-model="selectedUserOrganisationProfile.City"></td>
                                    </tr>
                                    <tr>
                                        <td>Адрес</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Address"></td>
                                    </tr>
                                    <tr>
                                        <td>Пол</td>
                                        <td>
                                            <select v-model="selectedUserOrganisationProfile.Gender">
                                                <option value="true">Мужской</option>
                                                <option value="false">Женский</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2">Данные для бухгалтерского учета</td>
                                    </tr>
                                    <tr>
                                        <td>ИНН</td>
                                        <td><input v-model="selectedUserOrganisationProfile.INN"></td>
                                    </tr>
                                    <tr>
                                        <td>Оклад</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Salary"></td>
                                    </tr>
                                    <tr>
                                        <td>Должность</td>
                                        <td><input v-model="selectedUserOrganisationProfile.JobTitle"></td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2">Контакты</td>
                                    </tr>
                                    <tr>
                                        <td>Мобильный телефон (основной)</td>
                                        <td><input v-model="selectedUserOrganisationProfile.MobilePhone1"></td>
                                    </tr>
                                    <tr>
                                        <td>Мобильный телефон (дополнительный)</td>
                                        <td><input v-model="selectedUserOrganisationProfile.MobilePhone2"></td>
                                    </tr>
                                    <tr>
                                        <td>Рабочий телефон</td>
                                        <td><input v-model="selectedUserOrganisationProfile.BusinessPhone"></td>
                                    </tr>
                                    <tr>
                                        <td>Электронная почта</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Email"></td>
                                    </tr>
                                    <tr>
                                        <td>Skype</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Skype"></td>
                                    </tr>
                                    <tr>
                                        <td>Имя пользователя Telegram</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Telegram"></td>
                                    </tr>
                                    <tr>
                                        <td>ICQ</td>
                                        <td><input v-model="selectedUserOrganisationProfile.ICQ"></td>
                                    </tr>
                                    <tr>
                                        <td>Лицокнига</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Facebook"></td>
                                    </tr>
                                    <tr>
                                        <td>ВСсссылку</td>
                                        <td><input v-model="selectedUserOrganisationProfile.LinkedIn"></td>
                                    </tr>
                                    <tr>
                                        <td>ВКонтакте</td>
                                        <td><input v-model="selectedUserOrganisationProfile.VK"></td>
                                    </tr>
                                    <tr class="active">
                                        <td colspan="2">Дополнительная информация</td>
                                    </tr>
                                    <tr>
                                        <td>Навыки</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Skills"></td>
                                    </tr>
                                    <tr>
                                        <td>Интересы</td>
                                        <td><input v-model="selectedUserOrganisationProfile.Interests"></td>
                                    </tr>
                                </table>
                                <div class="toolbar">
                                    <button class="btn btn-success" v-on:click="saveProfile">Сохранить</button>
                                    <button class="btn btn-toolbar" v-on:click="isCreateMode=false;isEditMode=false;">Отменить</button>
                                </div>
                            </div>

                            @*VUE AVAILABLE PROFILES*@
                        </div>
                        <!--section userProfile end-->

                    </div>
                    <!--section tab my company end-->
                    <!--Other tabs start-->
                    <div class="tab-pane fade" id="program-links">
                        <h4>Наши программы</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Название</th>
                                    <th>Ссылка</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>НХП Теплообменник</td>
                                    <td>
                                        <div>
                                            @*<a href="http://nhp-soft.ru/soft/load_he.php" target="_blank">Скачать c сайта</a>*@
                                            <a href="http://nhp-soft.ru/packages/nhp_teploobmennik/NHP-Teploobmennik.zip">Скачать</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>НХП Проект - управление проектами и задачами</td>
                                    <td><a href="http://nhp-soft.ru/packages/nhp_project/nhp_project_setup_120.exe">Скачать Инсталлятор</a> / <a href="http://nhp-soft.ru/packages/nhp_project/nhp_project_setup_120.zip">Скачать Архив</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="third">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney’s organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven’t heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                    <div class="tab-pane fade" id="four">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                    </div>
                    <!--Other tabs end-->
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script type="text/javascript">
        var uid = @ViewBag.UserId;

        $(document).ready(function () {
            $('.section-employees').css('display', 'block');
            $('.section-subscriptions').css('display', 'none');
            $('.section-organisationManagement').css('display', 'none');
            $('.section-personalData').css('display', 'none');
        });

        $('#section-employees').click(function () {
            $('.section-employees').css('display', 'block');
            $('.section-subscriptions').css('display', 'none');
            $('.section-organisationManagement').css('display', 'none');
            $('.section-personalData').css('display', 'none');
        });

        $('#section-subscriptions').click(function () {
            $('.section-employees').css('display', 'none');
            $('.section-subscriptions').css('display', 'block');
            $('.section-organisationManagement').css('display', 'none');
            $('.section-personalData').css('display', 'none');
        });
        $('#section-organisationManagement').click(function () {
            $('.section-employees').css('display', 'none');
            $('.section-subscriptions').css('display', 'none');
            $('.section-organisationManagement').css('display', 'block');
            $('.section-personalData').css('display', 'none');
        });
        $('#section-personalData').click(function () {
            $('.section-employees').css('display', 'none');
            $('.section-subscriptions').css('display', 'none');
            $('.section-organisationManagement').css('display', 'none');
            $('.section-personalData').css('display', 'block');
        });
        function eventHandler(param) {
            alert(param);
        };
    </script>

    @Styles.Render("~/bundles/vue.css")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/Scripts/src/dashboard.js")

}