﻿/*All devices*/
.section-content {
    width: 100%;
    padding-top: 20px;
}

.tab-content {
    margin-top: 20px;
}

.tab-content-nav span {
    margin-right: 30px;
}

.table-component-row th,
.table-component-row td {
    text-align: center;
    font-size: 0.9em;
}

.section-company {
    width: 70%;
    border: 1px solid #eeecec;
    padding: 10px 0 5px 20px;
    margin-bottom: 15px;
    font-size: 1.1em;
    cursor: pointer;
}

    .section-company span {
        margin-right: 30px;
    }

.section-subscriptions-top-info span {
    margin-right: 10px;
}

.no-border-radius {
    border-radius: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Small devices (tablets, 768px and up 992) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small devices (mobile, 320px and up 767) */
@media (min-width: 320px) and (max-width: 767px) {
}

.profileBlock__element {
    margin: 10px 0px;
    display: inline-block;
}

.profileBlock__element:first-of-type {
    margin: 0px 0px;
}

.toolbar button {
    margin: 5px;
}

        .toolbar button:first-child {
            margin-left: 0px;
        }

.profileList {
    margin: 10px 0px;
}



.profileList__element {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

    .profileList__element:first-child {
        margin-top: 0px;
    }

    .profileList__element:hover {
        cursor: pointer;
        background-color: #eee;
    }

.profileCard table {
    width: 100%;
}

.profileCard tr td:first-child {
    width: 40%;
}

.profileCard tr td:last-child {
    width: 60%;
}

.profileCard tr td * {
    width: 100%;
    border: 0px;
    background-color: inherit;
}

.profileCard button {
    margin: 10px;
}
