﻿body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

article {
    width: 100%;
    background-color: #333333;
}

.top-notification {
    margin: 10px 0 10px 0;
    color: #f3ffff;
    font-size: 1.1em;
}

    .top-notification span {
        margin-right: 20px;
    }

    .top-notification input[type="button"],
    .top-notification input[type="button"]:hover,
    .top-notification input[type="button"]:active {
        border: none;
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
    }

    .top-notification input[type="button"] {
        background-color: #a7bf31;
    }

        .top-notification input[type="button"]:hover {
            background-color: #cbe162;
        }

        .top-notification input[type="button"]:active {
            background-color: #bbd148;
        }

header {
    margin: 0;
    width: 100%;
    padding: 20px 0 0 0;
    font-size: 1em;
    color: #e8f3fe;
    background: linear-gradient(to top, #4f9fbe, #5abde2);
}

.header-content span {
    margin: 0 10px 0 10px;
}

    .header-content span img {
        margin-right: 10px;
    }

    .header-content span a,
    .header-content span a:hover,
    .header-content span a :visited {
        color: #e8f3fe;
        text-decoration: none;
        border-bottom: 1px solid #e8f3fe;
    }

.nav-tabs {
    border: none;
}

.tab-control {
    color: red;
}

.myHeightClass {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/site-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

